
<!-- Footer -->
<div style="height:70px; background-color:#ccc; ">
  <center>
    <table border="0" cellpadding="15" class="footer-logos">
      <tr>
        <td>
          <a target="_blank" href="http://www.psfk.com/2014/05/custom-ink-matching-pen-scribble.html#!RtRYA"><%= image_tag 'theme/badges/1.png', border: '0', height: '40' %></a>
        </td><td>
        <a target="_blank" href="http://www.gizmag.com/scribble-color-picking-pen-ink-stylus/32269/"><%= image_tag 'theme/badges/2.png', border: '0', height: '40' %></a>
      </td><td>
        <a target="_blank" href="http://www.dailymail.co.uk/sciencetech/article-2647129/Forget-crayons-Multicolour-pen-lets-pick-colour-draw-16-million-shades.html"><%= image_tag 'theme/badges/3.png', border: '0', height: '40' %></a>
      </td><td>
        <a target="_blank" href="http://www.huffingtonpost.com/2014/06/05/scribble-pen-so-many-colorz_n_5452287.html?ncid=fcbklnkushpmg00000063"><%= image_tag 'theme/badges/4.png', border: '0', height: '40' %></a>
      </td><td align="center" width="120">


        <a target="_blank" href="http://www.briefingwire.com/pr/scribble-announces-kickstarter-campaign-being-launched-to-crowdfund-worlds-first-color-picker-pen"><%= image_tag 'theme/badges/7.png', border: '0', height: '40' %></a>
      </td><td>
        <a target="_blank" href="http://www.tuvie.com/scribble-pen-color-picker-pen-by-mark-barker-and-robert-hoffman/"><%= image_tag 'theme/badges/8.png', border: '0', height: '40' %></a>
      </td><td>
        <a target="_blank" href="http://www.springwise.com/16-million-color-pen-match-ink-shade-real-world-object/"><%= image_tag 'theme/badges/7.jpg', border: '0', height: '40' %></a>
      </td><td>
        <a target="_blank" href="http://www.cnet.com/news/the-pen-that-can-write-in-any-color-on-earth/"><%= image_tag 'theme/badges/9.png', border: '0', height: '40' %></a>
      </td><td>
      </td>
      </tr>
    </table>
  </center>
</div>
<footer class="footer offsetTopS offsetBottomS">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <!-- Back to Top -->
        <a class="to-top"><i class="fa fa-angle-up"></i></a>
        <!-- Copyright -->
        <span>2014 &copy; SCRIBBLE All rights reserved.</span>
      </div>
      <!--<div class="col-sm-12">
       <ul class="ftr_link">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">blog</a></li>
          <li><a href="#">partnership</a></li>
          </ul>
      </div>-->
      <div class="col-md-6 col-sm-6 social">
        <a href="privacy-policy.html" style="color:#FFFFFF; font-size:12px;">Privacy Policy</a>&nbsp;|&nbsp;<a href="/blog" style="color:#FFFFFF; font-size:12px;">Blog</a>&nbsp;|&nbsp;<a href="mailto:partnership@getscribblepen.com" style="color:#FFFFFF; font-size:12px;">Partnership</a>&nbsp;|&nbsp;<a href="mailto:contact@getscribblepen.com" style="color:#FFFFFF; font-size:12px;">Contact us</a>&nbsp;&nbsp;
        <a target="_blank" href="https://www.facebook.com/scribblecolor"><i class="fa fa-facebook"></i></a>
        <a target="_blank" href="https://twitter.com/scribblecolor"><i class="fa fa-twitter"></i></a>
        <!--<a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>-->
        <a target="_blank" href="https://plus.google.com/115237251484578868001" rel="publisher">Google+</a><i class="fa fa-google-plus"></i></a>
      </div>
      <!--

       </div>-->

    </div>
  </div>
</footer>

<!-- Google Maps Support -->
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>