<!-- Header -->
<div class="site-header big-wrapper">
  <div class="site-wrapper">
    <div class="row">
      <div class="col-sm-1">
        <div class="site-logo"><%= image_tag 'tile-logo.png' %></div>
      </div>
      <div class="col-sm-11">
        <div class="site-menu">
          <ul>
            <li><%= link_to 'This is Tile', '#', data: {target: 'site-header'} %></li>
            <li><%= link_to 'On the Go', '#', data: {target: 'on-the-go'} %></li>
            <li><%= link_to 'Our App', '#', data: {target: 'keeping-track'} %></li>

            <li><%= link_to 'Pre Order', '#', data: {target: 'backordered-summer'} %></li>
            <li><%= link_to 'Features', '#', data: {target: 'features-overview'} %></li>
            <li><%= link_to 'FAQ', '#', data: {target: 'faq-container'} %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./Header -->