<div class="price-list-container">
    <div class="price-list-wrapper">
      <div class="price-list-left">
        <ul>

          <% @PaymentOptions.each do |payment_option| %>

              <li>
                <div class="details">
                  <p class="description"><%= payment_option.description.html_safe %></p>
                </div>
                <div class="quantity">5X</div>
                <div class="image"><%= image_tag 'pen.jpg' %></div>
                <div class="price"><%= payment_option.amount_display %></div>
                <%= form_tag charges_path do %>
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                            data-description="Pre Order"
                            data-amount="<%= (payment_option.amount * 100).round %>"
                            data-allow-remember-me="false"
                            data-shipping-address="true">

                    </script>
                    <%= hidden_field_tag 'amount', (payment_option.amount * 100).round %>
                    <%= hidden_field_tag 'payment_option', payment_option.id %>
                <% end %>
              </li>

          <% end %>

        </ul>
      </div>

      <div class="price-list-right">
        <ul>
              <% Array(0..4).each do |item| %>
              <li>
                <div class="item-container">

                  <div class="item-status new">new</div>

                  <div class="details">
                    <p class="item-title">VERY EARLY BIRD</p>
                    <p class="item-model">LIX 3D PEN</p>
                    <p class="item-description">A NICE PEN FOR NICE DOODLE</p>
                  </div>
                  <div class="item-image"><%= image_tag 'pen.jpg' %></div>
                  <div class="item-price">
                    <div class="price-one">
                      <span>
                          <span class="dollar-big">
                              <span class="float-big">$</span>
                          </span>
                          <span class="price-big"> 5 </span>
                          <span class="float-wrapper">
                            <span class="float-big">00</span>
                            <span class="currency-big color333">USD</span>
                          </span>
                      </span>
                    </div>
                    <div class="price-two">
                      <span>
                          <span class="dollar-big">
                              <span class="float-big">$ </span>
                          </span>
                          <span class="price-big">3</span>
                          <span class="float-wrapper">
                            <span class="float-big"> 00</span>
                            <span class="currency-big color333"> USD</span>
                          </span>
                      </span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="all-gone-bg">
                <div class="item-container">

                  <div class="item-status all-gone">All gone</div>

                  <div class="details">
                    <p class="item-title">VERY EARLY BIRD</p>
                    <p class="item-model">LIX 3D PEN</p>
                    <p class="item-description">A NICE PEN FOR NICE DOODLE</p>
                  </div>
                  <div class="item-image"><%= image_tag 'pen.jpg' %></div>
                  <div class="item-price">
                    <div class="price-one">
                      <span>
                          <span class="dollar-big">
                              <span class="float-big">$</span>
                          </span>
                          <span class="price-big"> 5 </span>
                          <span class="float-wrapper">
                            <span class="float-big">00</span>
                            <span class="currency-big color333">USD</span>
                          </span>
                      </span>
                    </div>
                    <div class="price-two">
                      <span>
                          <span class="dollar-big">
                              <span class="float-big">$ </span>
                          </span>
                          <span class="price-big">3</span>
                          <span class="float-wrapper">
                            <span class="float-big"> 00</span>
                            <span class="currency-big color333"> USD</span>
                          </span>
                      </span>
                    </div>
                  </div>
                </div>
              </li>
              <% end %>
        </ul>
      </div>
    </div>
</div>
















