<div class="showcase-container">

  <div class="showcase-wrapper">

    <p class="showcase-title"><span>CHOOSE YOUR COLOR AND QUANTITY</span></p>

    <div class="showcase-item-container">

      <% Array(0..7).each_with_index do |item, index| %>
          <div data-pid="<%= index %>" data-price="60" id="showcase-item-<%= index %>" class="showcase-item <%= 'border-left-for-4' if index%4==0 %> <%= 'border-left-for-2' if index%2==0 %>">
            <div class="p_name" style="display: none;">n</div>
            <div class="p_description" style="display: none;">d</div>
            <div class="showcase-item-title">Bondi Blue</div>
            <div class="showcase-item-image">
              <%= image_tag 'theme/bondi-blue.png' %>
              <div class="showcase-item-qt"></div>
            </div>
            <div class="showcase-item-select">
              <div class="showcase-item-select-wrap">
                <div class="minus">-</div>
                <div class="qt">0</div>
                <div class="plus">+</div>
              </div>
            </div>
          </div>
      <% end %>

    </div>


    <div class="shipping-wrapper">
      <div class="shipping-options">
        <h3 class="section-title">Shipping</h3>
        <div class="shipping-choices-container">
          <p class="text-center">In stock Pebbles ship the next business day.</p>

          <div class="shipping-choice">
            <input name="shippingChoice" type="radio" value="1">
            USPS (3-5 business days): FREE
          </div>

          <div class="shipping-choice">
            <input name="shippingChoice" type="radio" value="1">
            FEDEX (3 BUSINESS DAYS): $12
          </div>

          <div class="shipping-choice">
            <input name="shippingChoice" type="radio" value="1">
            FEDEX (NEXT BUSINESS DAY): $25 (?)
          </div>
        </div>
        <h3 class="section-title lets-go">LET'S GET YOUR DETAILS</h3>
      </div>


      <div class="split-content-panel">

        <div class="shipping-address-wrapper">

            <div class="row">
              <div class="left-content-unit col-sm-6">
                <form action="" class="shipping-address-form">
                  <div class="section-title">SHIPPING ADDRESS</div>
                  <label>FULL NAME</label>
                  <input type="text" placeholder="Your Full Name"/>

                  <label>E-Mail</label>
                  <input type="text" placeholder="Your Email Address"/>

                  <label>SHIPPING ADDRESS</label>
                  <input type="text" class="address-line-one" placeholder="ADDRESS LINE ONE"/>
                  <input type="text" class="address-line-two" placeholder="ADDRESS LINE TWO (OPTIONAL)"/>
                  <div class="row city-state">
                    <div class="col-sm-6 city">
                      <input type="text" placeholder="City"/>
                    </div>
                    <div class="col-sm-6 state">
                      <select name="" id="">
                        <option value="">State</option>
                        <option value="">More State</option>
                        <option value="">More State</option>
                      </select>
                    </div>
                  </div>
                  <div class="row zip-country">
                    <div class="col-sm-6 zip">
                      <input type="text" placeholder="zip"/>
                    </div>
                    <div class="col-sm-6 country">
                      <input type="text" placeholder="Country" value="Country" readonly/>
                    </div>
                  </div>
                </form>



                <div class="row">
                  <p class="same-billing-address">
                    <span class="custom-check">
                        <input checked="checked" id="same-address" name="same-address" type="checkbox" value="yes">
                        <label for="same-address"></label>
                    </span>
                    <span class="check-box-label">Billing Address and Shipping Address Are the same</span>
                  </p>
                </div>



                <form action="" class="shipping-address-form billing-address-form">
                  <div class="section-title">BILLING ADDRESS</div>
                  <label>FULL NAME</label>
                  <input type="text" placeholder="Your Full Name"/>

                  <label>E-Mail</label>
                  <input type="text" placeholder="Your Email Address"/>

                  <label>SHIPPING ADDRESS</label>
                  <input type="text" class="address-line-one" placeholder="ADDRESS LINE ONE"/>
                  <input type="text" class="address-line-two" placeholder="ADDRESS LINE TWO (OPTIONAL)"/>
                  <div class="row city-state">
                    <div class="col-sm-6 city">
                      <input type="text" placeholder="City"/>
                    </div>
                    <div class="col-sm-6 state">
                      <select name="" id="">
                        <option value="">State</option>
                        <option value="">More State</option>
                        <option value="">More State</option>
                      </select>
                    </div>
                  </div>
                  <div class="row zip-country">
                    <div class="col-sm-6 zip">
                      <input type="text" placeholder="zip"/>
                    </div>
                    <div class="col-sm-6 country">
                      <select name="" id="">
                        <option value="">Country</option>
                        <option value="">More Country</option>
                        <option value="">More Country</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>

              <div class="right-content-unit col-sm-6">
                <form action="" class="payment-info-form">
                  <div class="card-input">

                    <div class="card-info-title">
                      <%= image_tag 'icon-green-lock.png' %>
                      <label for="">PAYMENT INFO</label>
                    </div>
                    
                    <div>
                      <input type="text" class="credit-card-number" name="" placeholder="Credit Card Number"/>
                    </div>

                    <div class="row">
                      <div class="col-sm-6 credit-card-date"><input type="text" placeholder="MM/YYYY"/></div>
                      <div class="col-sm-6 credit-card-cvc"><input type="text" placeholder="CVC"/></div>
                    </div>
                    <div class="stripe-logo"><%= image_tag 'stripe-logo.png' %></div>
                  </div>
                </form>

                <div class="phone-number-for-delivery">
                  <ul>
                    <li>PHONE NUMBER</li>
                    <li>(FOR DELIVERY)</li>
                  </ul>
                  <input type="text" placeholder="Phone Number"/>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>



  <div class="cart-container">

    <div class="orange-hr"></div>

    <div id="blank-cart-item" style="display: none;">
      <li id="cart-item-19">
        <div class="row cart-item">
          <div class="product-name-description col-xs-7">
            <div class="product-name"></div>
            <div class="product-description"></div>
          </div>
          <div class="product-quantity col-xs-2"></div>
          <div class="product-price col-xs-3"></div>
        </div>
      </li>
    </div>

    <div id="cart-div" style="display: none;">
      <ul class="cart-wrapper" id="cart-items">

      </ul>
      <ul class="cart-wrapper cart-price" id="cart-price">
        <li class="sub-total">
          <div class="row">
            <div class="product-name-description col-xs-7"></div>
            <div class="product-quantity col-xs-2">SUB TOTAL</div>
            <div class="product-price col-xs-3">$0.00</div>
          </div>
        </li>
        <li class="shipping-cost">
          <div class="row">
            <div class="product-name-description col-xs-7"></div>
            <div class="product-quantity col-xs-2">SHIPPING</div>
            <div class="product-price col-xs-3">FREE</div>
          </div>
        </li>
        <li class="total-price">
          <div class="row">
            <div class="product-name-description col-xs-7"></div>
            <div class="product-quantity col-xs-2">TOTAL</div>
            <div class="product-price col-xs-3">$0.00</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="cart-is-empty">YOUR CART IS EMPTY</div>

    <div class="orange-hr"></div>

    <p class="complete-the-form" style="display: none;">Please complete the form above to place your order.</p>

    <button class="place-order">PLACE ORDER</button>

    <div class="shipping-is-free">
      <p><%= image_tag 'green-tick.png' %>Shipping is free, worldwide</p>
      <p><%= image_tag 'green-tick.png' %>30 day return policy + 1 year warranty</p>
    </div>

  </div>

</div>
<%#
/app/views/home/showcase.html.erb
in line 10: replace index variable with product_id,replace data-price value with product_price
in line 11: .p_name, replace innertext with product_name. #it is hidden and will be used in cart
in line 12: .p_description, replace innertext with product_description. #it is hidden and will be used in cart
%>