<div class="home-container">
  <div class="site-wrapper">
      <div class="home-video-container">
        <div class="row">
          <div class="col-sm-7">

            <iframe class="home-video" src="http://www.youtube.com/embed/pqDm3gZNZPM?rel=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

            <div class="share-section">
              <a href="#" class="twitter-share">
                <%= image_tag 'share_twitter.png', alt: 'Share twitter' %>
              </a>

              <a href="#" class="facebook-share">
                <%= image_tag 'share_facebook.png', alt: 'Share facebook.png' %>
              </a>
            </div>
          </div>

          <div class="col-sm-5 right-side">

              <div class="value">
                <h2>Welcome to Tile, the world's largest lost and found.</h2>

                <p>Now fulfilling preorders!</p>
              </div>

              <div class="preorder">
                <p>
                  For a limited time, preorder now for $19.95
                </p>

                <a href="/orders/new" onclick="ga('send', 'event', 'Reserve', 'click');">
                <span>
                  Reserve My Tile Today
                </span>

                  <span class="arrow"></span>
                </a>

                <div class="short-estimate">
                  Reserve now for Fall 2014
                </div>
              </div>

          </div>
        </div>
      </div>
  </div>

  <div class="logo-container big-wrapper">
    <div class="site-wrapper">
      <ul>
        <li class="tc">
          <a href="" target="_blank" wrc_done="true"></a>
        </li>

        <li class="zdnet">
          <a href="" target="_blank" wrc_done="true"></a>
        </li>

        <li class="wired">
          <a href="" target="_blank" wrc_done="true"></a>
        </li>

        <li class="wsj">
          <a href="" target="_blank" wrc_done="true"></a>
        </li>

        <li class="tnw">
          <a href="" target="_blank" wrc_done="true"></a>
        </li>
      </ul>
    </div>
  </div>



  <div class="carousel-container" id="on-the-go">
    <div class="wrapper">
      <div class="info">
        <h3>Small and sleek, Tiles go everywhere you do.</h3>
        <p>Just attach, stick or drop your Tile into any item you might lose: laptops, wallets, keys, guitars, bikes—you name it. Then get on with the fun.</p>
      </div>
    </div>
    <div class="carousel banner slide" id="tileCarousel">
      <div class="center">
        <div>
          <ol class="carousel-indicators">
            <li data-target="#tileCarousel" data-slide-to="0" class="first active"></li>
            <li data-target="#tileCarousel" data-slide-to="1" class=""></li>
            <li data-target="#tileCarousel" data-slide-to="2" class=""></li>
            <li data-target="#tileCarousel" data-slide-to="3" class=""></li>
            <li data-target="#tileCarousel" data-slide-to="4" class=""></li>
          </ol>
        </div>
      </div>
      <div class="carousel-inner">
        <div class="item active" id="item-1"><%= image_tag 'carousel1.jpg' %></div>
        <div class="item" id="item-2"><%= image_tag 'carousel2.jpg' %></div>
        <div class="item" id="item-3"><%= image_tag 'carousel3.jpg' %></div>
        <div class="item" id="item-4"><%= image_tag 'carousel4.jpg' %></div>
        <div class="item" id="item-5"><%= image_tag 'carousel5.jpg' %></div>
      </div>
    </div>
  </div>


</div>
