<%= form_for @order do |f| %>

    <div class="showcase-container">

      <div class="showcase-wrapper">

        <p class="showcase-title"><span>CHOOSE YOUR COLOR AND QUANTITY</span></p>

        <div class="showcase-item-container">
          <!--in line 10: replace index variable with product_id,replace data-price value with product_price-->
          <!--in line 11: .p_name, replace innertext with product_name. #it is hidden and will be used in cart-->
          <!--in line 12: .p_description, replace innertext with product_description. #it is hidden and will be used in cart-->

          <% @products.each_with_index do |item, index| %>
              <div data-pid="<%= item.id %>" data-price="<%= item.amount %>" id="showcase-item-<%= item.id %>" class="showcase-item <%= 'border-left-for-4' if index % 4 == 0 %> <%= 'border-left-for-2' if index%2==0 %>">
                <div class="p_name" style="display: none;"><%= item.title %></div>
                <div class="p_description" style="display: none;"><%= item.title %></div>
                <div class="showcase-item-title"><%= item.title %></div>
                <div class="showcase-item-image">
                  <%= image_tag 'theme/bondi-blue.png' %>
                  <!--<div class="showcase-item-qt"></div>-->
                </div>
                <div class="showcase-item-select">
                  <div class="showcase-item-select-wrap">
                    <div class="minus">-</div>
                    <div class="qt">0</div>
                    <div class="plus">+</div>
                  </div>
                </div>
              </div>
          <% end %>

        </div>


        <div class="shipping-wrapper">

          <div class="split-content-panel">

            <div class="shipping-address-wrapper">

              <div class="row">
                <div class="left-content-unit col-sm-6">
                  <div class="shipping-address-form">
                    <div class="section-title">Payment Info</div>
                    <label>First Name</label>
                    <%= f.text_field :first_name, :placeholder => 'Your First Name', required: 'required' %>

                    <label>Last Name</label>
                    <%= f.text_field :last_name, :placeholder => 'Your Last Name', required: 'required' %>

                    <label>E-Mail</label>
                    <%= f.text_field :email, :placeholder => 'Your Email Address', required: 'required' %>


                  </div>
                </div>


              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="cart-container">

      <div class="orange-hr"></div>

      <div id="blank-cart-item" style="display: none;">
        <li id="cart-item-19">
          <div class="row cart-item">
            <div class="product-name-description col-xs-7">
              <div class="product-name"></div>
              <div class="product-description"></div>
            </div>
            <div class="product-quantity col-xs-2"></div>
            <div class="product-price col-xs-3"></div>

            <input type="hidden" name="" class="product_price" value="" disabled="disabled">
            <input type="hidden" name="" class="product_quantity" value="" disabled="disabled">
          </div>
        </li>
      </div>

      <div id="cart-div" style="display: none;">
        <ul class="cart-wrapper" id="cart-items">

        </ul>
        <ul class="cart-wrapper cart-price" id="cart-price">
          <li class="sub-total">
            <div class="row">
              <div class="product-name-description col-xs-7"></div>
              <div class="product-quantity col-xs-2">SUB TOTAL</div>
              <!--<input type="hidden" name="order['payment_option_quantity']" class="payment_option_quantity" value="">-->
              <div class="product-price col-xs-3">$0.00</div>
            </div>
          </li>
          <li class="shipping-cost">
            <div class="row">
              <div class="product-name-description col-xs-7"></div>
              <div class="product-quantity col-xs-2">SHIPPING</div>
              <div class="product-price col-xs-3">FREE</div>
            </div>
          </li>
          <li class="total-price">
            <div class="row">
              <div class="product-name-description col-xs-7"></div>
              <div class="product-quantity col-xs-2">TOTAL</div>
              <div class="product-price col-xs-3">$0.00</div>
            </div>
          </li>
        </ul>
      </div>

      <div class="cart-is-empty">YOUR CART IS EMPTY</div>

      <div class="orange-hr"></div>

      <p class="complete-the-form" style="display: none;">Please complete the form above to place your order.</p>


      <%#= f.submit 'PLACE ORDER', class: 'place-order', id: 'payment-button' %>

      <br /><br />
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                            data-image="http://www.creativebackground.com/crowdfund/wp-content/uploads/2014/07/logo_whitebg.jpg"
                            data-description="Pre Order"
                            data-allow-remember-me="false"
                            data-shipping-address="true"
                            data-label="Pay with card">
      </script>

      <div class="shipping-is-free">
        <p><%= image_tag 'green-tick.png' %>Shipping is free, worldwide</p>

        <p><%= image_tag 'green-tick.png' %>30 day return policy + 1 year warranty</p>
      </div>

    </div>

    </div>

<% end %>
<%#
/app/views/home/showcase.html.erb
in line 10: replace index variable with product_id,replace data-price value with product_price
in line 11: .p_name, replace innertext with product_name. #it is hidden and will be used in cart
in line 12: .p_description, replace innertext with product_description. #it is hidden and will be used in cart
%>